In [1]:
import csv
estabelecimentos = open('tbEstabelecimento201809.csv')
leitor = csv.reader(estabelecimentos)
print(next(leitor))

['CO_UNIDADE;"CO_CNES";"NU_CNPJ_MANTENEDORA";"TP_PFPJ";"NIVEL_DEP";"NO_RAZAO_SOCIAL";"NO_FANTASIA";"NO_LOGRADOURO";"NU_ENDERECO";"NO_COMPLEMENTO";"NO_BAIRRO";"CO_CEP";"CO_REGIAO_SAUDE";"CO_MICRO_REGIAO";"CO_DISTRITO_SANITARIO";"CO_DISTRITO_ADMINISTRATIVO";"NU_TELEFONE";"NU_FAX";"NO_EMAIL";"NU_CPF";"NU_CNPJ";"CO_ATIVIDADE";"CO_CLIENTELA";"NU_ALVARA";"DT_EXPEDICAO";"TP_ORGAO_EXPEDIDOR";"DT_VAL_LIC_SANI";"TP_LIC_SANI";"TP_UNIDADE";"CO_TURNO_ATENDIMENTO";"CO_ESTADO_GESTOR";"CO_MUNICIPIO_GESTOR";"TO_CHAR(DT_ATUALIZACAO', '\'DD/MM/YYYY\')";"CO_USUARIO";"CO_CPFDIRETORCLN";"REG_DIRETORCLN";"ST_ADESAO_FILANTROP";"CO_MOTIVO_DESAB";"NO_URL";"NU_LATITUDE";"NU_LONGITUDE";"TO_CHAR(DT_ATU_GEO', '\'DD/MM/YYYY\')";"NO_USUARIO_GEO";"CO_NATUREZA_JUR";"TP_ESTAB_SEMPRE_ABERTO";"ST_GERACREDITO_GERENTE_SGIF";"ST_CONEXAO_INTERNET";"CO_TIPO_UNIDADE";"NO_FANTASIA_ABREV";"TP_GESTAO";"TO_CHAR(DT_ATUALIZACAO_ORIGEM', '\'DD/MM/YYYY\')"']

In [2]:
import pandas as pd
import numpy as np

In [3]:
cobertura_ab = pd.read_csv('tbEstabelecimento201809.csv', sep=';', encoding='utf8', low_memory=False)

In [4]:
cobertura_ab.head(3)

,CO_UNIDADE,CO_CNES,NU_CNPJ_MANTENEDORA,TP_PFPJ,NIVEL_DEP,NO_RAZAO_SOCIAL,NO_FANTASIA,NO_LOGRADOURO,NU_ENDERECO,NO_COMPLEMENTO,...,"TO_CHAR(DT_ATU_GEO,'DD/MM/YYYY')",NO_USUARIO_GEO,CO_NATUREZA_JUR,TP_ESTAB_SEMPRE_ABERTO,ST_GERACREDITO_GERENTE_SGIF,ST_CONEXAO_INTERNET,CO_TIPO_UNIDADE,NO_FANTASIA_ABREV,TP_GESTAO,"TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')"
0,2928707453280,7453280,1.382548e+13,3,3,PREFEITURA MUNICIPAL DE SANTO ANTONIO DE JESUS,POSTO DE SAUDE MINA DO SAPE,COMUNIDADE MINA DO SAPE,S/N,CASA,...,NaN,NaN,1244.0,NaN,NaN,N,NaN,NaN,M,03/04/2014
1,2301307450184,7450184,7.539984e+12,3,3,PREFEITURA MUNICIPAL DE SAUDE,ACADEMIA DA SAUDE DE ARARIPE,AV ELISIO ALVES DE ALENCAR,S/N,NaN,...,04/09/2018,0130ARA,1244.0,N,NaN,S,NaN,NaN,M,02/04/2014
2,2307307462956,7462956,NaN,1,1,CONSULTORIO DE PSICOLOGIA FLAVIA GONCALVES MACEDO,CONSULTORIO DE PSICOLOGIA FLAVIA GONCALVES MACEDO,RUA DA CONCEICAO,818,NaN,...,27/12/2017,GORETTI,4000.0,N,NaN,S,NaN,NaN,M,02/04/2014

In [5]:
cobertura_ab['CO_CNES'].count()

364701

In [6]:
#cobertura_ab.select_dtypes([np.CO_CNES]).columns.tolist().str.find('068') 
#for col in cobertura_ab.columns.tolist().astype(str)

#cod_pic = cobertura_ab[cobertura_ab['CO_CNES'].str('068')].count()
#cod_pic

In [7]:
cobertura_ab['CO_ATIVIDADE'].value_counts()

4    359897
3      3425
1       756
2       468
5       155
Name: CO_ATIVIDADE, dtype: int64

In [8]:
cobertura_ab = pd.read_csv('tbEstabelecimento201809.csv', sep=';', encoding='utf8', usecols=[1, 4, 21, 22, 28, 39, 40, 49])
cobertura_ab.head()

,CO_CNES,NIVEL_DEP,CO_ATIVIDADE,CO_CLIENTELA,TP_UNIDADE,NU_LATITUDE,NU_LONGITUDE,TP_GESTAO
0,7453280,3,4,3.0,1,NaN,NaN,M
1,7450184,3,4,1.0,74,-7.213000,-40.046,M
2,7462956,1,4,1.0,22,-7.204114,-39.3153054,M
3,7462476,3,4,1.0,2,NaN,NaN,M
4,7416490,3,4,3.0,71,-6.455000,-36.203,M

In [9]:
cobertura_ab.fillna(0,inplace=True)                       #substituindo os valores faltantes por 0

In [10]:
cobertura_ab.columns

Index(['CO_CNES', 'NIVEL_DEP', 'CO_ATIVIDADE', 'CO_CLIENTELA', 'TP_UNIDADE',
       'NU_LATITUDE', 'NU_LONGITUDE', 'TP_GESTAO'],
      dtype='object')

In [11]:
mapa_ab = pd.read_csv('tbEstabelecimento201809.csv', sep=';', encoding='utf8', usecols=[1, 28, 39, 40])
mapa_ab.head()

   CO_CNES  TP_UNIDADE  NU_LATITUDE NU_LONGITUDE
0  7453280           1          NaN          NaN
1  7450184          74    -7.213000      -40.046
2  7462956          22    -7.204114  -39.3153054
3  7462476           2          NaN          NaN
4  7416490          71    -6.455000      -36.203

In [19]:
cobertura_ab['CO_CNES'].count()

364701

In [13]:
cobertura_ab['CO_ATIVIDADE'].unique()

array([4, 2, 3, 1, 5], dtype=int64)

In [14]:
gestao = pd.read_csv('tbGestao201809.csv', sep=';')
gestao

   CO_GESTAO           DS_GESTAO  TP_PROG
0          1      ATENCAO BASICA        1
1          2  MEDIA COMPLEXIDADE        1
2          3          INTERNACAO        2
3          4   ALTA COMPLEXIDADE        1
4          5  MEDIA COMPLEXIDADE        2
5          6   ALTA COMPLEXIDADE        2
6          0       NAO SE APLICA        0

In [15]:
cobertura_ab['TP_UNIDADE'].value_counts()

22    180265
36     55028
2      39253
39     27822
1      11328
4       8770
68      6145
5       5795
42      4769
43      3573
70      3100
50      3048
74      2635
40      1497
81      1304
73      1284
7       1245
71      1200
72      1148
77       750
62       731
15       703
60       695
20       448
80       447
69       409
83       373
76       238
82       139
64       139
21       127
75        89
32        63
78        39
67        38
61        33
79        31
Name: TP_UNIDADE, dtype: int64

In [16]:
unidades = cobertura_ab['TP_UNIDADE'].value_counts()
unidades.head()

22    180265
36     55028
2      39253
39     27822
1      11328
Name: TP_UNIDADE, dtype: int64

In [17]:
tipos_unidades = pd.read_excel('tipos_unidade_saude.xlsx')

In [18]:
tipos_unidades.columns

Index(['unidades_tipo', 'quantidade', 'conceito', 'legislação'], dtype='object')

In [20]:
tipos_unidades

,unidades_tipo,quantidade,conceito,legislação
0,1 POSTO DE SAÚDE,11328.0,Unidade destinada à prestação de assistência a...,PT SAS 511 DE
1,2 CENTRO DE SAÚDE/UNIDADE BÁSICA DE SAÚDE,39253.0,Unidade para realização de atendimentos de\t\t...,PT SAS 511 DE
2,4 POLICLÍNICA,8770.0,Unidade de saúde para prestação de atendimento...,PT SAS 511 DE
3,5 HOSPITAL GERAL,5795.0,Hospital destinado à prestação de atendimento\...,PT SAS 511 DE
4,7 HOSPITAL ESPECIALIZADO,1245.0,Hospital destinado à prestação de assistência ...,PT SAS 511 DE
5,15 UNIDADE MISTA,703.0,Unidade de saúde básica destinada à prestação\...,PT SAS 511 DE
6,20 PRONTO SOCORRO GERAL,448.0,Unidade destinada à prestação de assistência a...,PT SAS 511 DE
7,21 PRONTO SOCORRO ESPECIALIZADO,127.0,Unidade destinada à prestação de assistência e...,PT SAS 511 DE
8,22 CONSULTÓRIO ISOLADO,180265.0,Sala isolada destinada à prestação de assistên...,PT SAS 511 DE
9,32 UNIDADE MÓVEL FLUVIAL,63.0,"Barco/navio equipado como unidade de saúde,\t\...",PT SAS 511 DE
10,36 CLÍNICA ESPECIALIZADA/AMBULATÓRIO ESPECIAL...,55028.0,Clínica especializada destinada à assistência\...,PT SAS 511 DE
11,39 UNIDADE DE SERVIÇO DE APOIO DE DIAGNOSE E A...,27822.0,Unidades isoladas onde são realizadas atividad...,PT SAS 511 DE
12,40 UNIDADE MÓVEL TERRESTRE,NaN,"Veículo automotor equipado, especificamente, p...",PT SAS 511 DE
13,42 UNIDADE MÓVEL DE NÍVEL PRÉ-HOSPITALAR NA ÁR...,4769.0,"Veículo terrestre, aéreo ou hidroviário destin...",PT SAS 511 DE
14,43 FARMÁCIA,3573.0,Estabelecimento de saúde isolado em que é feit...,PT SAS 511 DE
15,50 UNIDADE DE VIGILÂNCIA EM SAÚDE,3048.0,É o estabelecimento isolado que realiza trabal...,NaN
16,67 LABORATÓRIO CENTRAL DE SAÚDE PÚBLICA - LACEN,38.0,Estabelecimento de saúde que integra o Sistema...,NaN
17,68 SECRETARIA DE SAÚDE,6145.0,Unidade gerencial/administrativa podendo dispo...,"SAS/MS Nº 195,"
18,69 CENTRO DE ATENCAO HEMOTERAPICA E OU HEMOTER...,409.0,"Estabelecimento que realiza o ciclo do sangue,...",NaN
19,70 CENTRO DE ATENÇÃO PSICOSSOCIAL,3100.0,Unidade especializada que oferece atendimento ...,CAPS
20,71 CENTRO DE APOIO A SAÚDE DA FAMÍLIA,1200.0,Estabelecimento isolado com as seguintes\t\t\n...,Portaria 198
21,72 UNIDADE DE ATENÇÃO A SAÚDE INDIGENA,1148.0,Estabelecimento de natureza pública ou privada...,Portaria 475