In [8]:
import csv
arquivo = open('tbEstabelecimento201809.csv', encoding='utf8')
leitor = csv.reader(arquivo)
print(next(leitor))

['CO_UNIDADE;"CO_CNES";"NU_CNPJ_MANTENEDORA";"TP_PFPJ";"NIVEL_DEP";"NO_RAZAO_SOCIAL";"NO_FANTASIA";"NO_LOGRADOURO";"NU_ENDERECO";"NO_COMPLEMENTO";"NO_BAIRRO";"CO_CEP";"CO_REGIAO_SAUDE";"CO_MICRO_REGIAO";"CO_DISTRITO_SANITARIO";"CO_DISTRITO_ADMINISTRATIVO";"NU_TELEFONE";"NU_FAX";"NO_EMAIL";"NU_CPF";"NU_CNPJ";"CO_ATIVIDADE";"CO_CLIENTELA";"NU_ALVARA";"DT_EXPEDICAO";"TP_ORGAO_EXPEDIDOR";"DT_VAL_LIC_SANI";"TP_LIC_SANI";"TP_UNIDADE";"CO_TURNO_ATENDIMENTO";"CO_ESTADO_GESTOR";"CO_MUNICIPIO_GESTOR";"TO_CHAR(DT_ATUALIZACAO', '\'DD/MM/YYYY\')";"CO_USUARIO";"CO_CPFDIRETORCLN";"REG_DIRETORCLN";"ST_ADESAO_FILANTROP";"CO_MOTIVO_DESAB";"NO_URL";"NU_LATITUDE";"NU_LONGITUDE";"TO_CHAR(DT_ATU_GEO', '\'DD/MM/YYYY\')";"NO_USUARIO_GEO";"CO_NATUREZA_JUR";"TP_ESTAB_SEMPRE_ABERTO";"ST_GERACREDITO_GERENTE_SGIF";"ST_CONEXAO_INTERNET";"CO_TIPO_UNIDADE";"NO_FANTASIA_ABREV";"TP_GESTAO";"TO_CHAR(DT_ATUALIZACAO_ORIGEM', '\'DD/MM/YYYY\')"']

In [9]:
import pandas as pd
%matplotlib inline

In [13]:
sus_web = pd.read_csv('tbEstabelecimento201809.csv', sep=';', encoding='utf8', low_memory=False)
sus_web.head()

,CO_UNIDADE,CO_CNES,NU_CNPJ_MANTENEDORA,TP_PFPJ,NIVEL_DEP,NO_RAZAO_SOCIAL,NO_FANTASIA,NO_LOGRADOURO,NU_ENDERECO,NO_COMPLEMENTO,...,"TO_CHAR(DT_ATU_GEO,'DD/MM/YYYY')",NO_USUARIO_GEO,CO_NATUREZA_JUR,TP_ESTAB_SEMPRE_ABERTO,ST_GERACREDITO_GERENTE_SGIF,ST_CONEXAO_INTERNET,CO_TIPO_UNIDADE,NO_FANTASIA_ABREV,TP_GESTAO,"TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')"
0,2928707453280,7453280,1.382548e+13,3,3,PREFEITURA MUNICIPAL DE SANTO ANTONIO DE JESUS,POSTO DE SAUDE MINA DO SAPE,COMUNIDADE MINA DO SAPE,S/N,CASA,...,NaN,NaN,1244.0,NaN,NaN,N,NaN,NaN,M,03/04/2014
1,2301307450184,7450184,7.539984e+12,3,3,PREFEITURA MUNICIPAL DE SAUDE,ACADEMIA DA SAUDE DE ARARIPE,AV ELISIO ALVES DE ALENCAR,S/N,NaN,...,04/09/2018,0130ARA,1244.0,N,NaN,S,NaN,NaN,M,02/04/2014
2,2307307462956,7462956,NaN,1,1,CONSULTORIO DE PSICOLOGIA FLAVIA GONCALVES MACEDO,CONSULTORIO DE PSICOLOGIA FLAVIA GONCALVES MACEDO,RUA DA CONCEICAO,818,NaN,...,27/12/2017,GORETTI,4000.0,N,NaN,S,NaN,NaN,M,02/04/2014
3,2313407462476,7462476,7.735178e+12,3,3,PREFEITURA MUNICIPAL DE TIANGUA,U B S DA FAMILIA VALDO DOURADO NUNES,SITIO ITAGUARUNA,S/N,NaN,...,NaN,NaN,1244.0,N,NaN,N,NaN,NaN,M,02/04/2014
4,2510107416490,7416490,8.739625e+12,3,3,PREFEITURA MUNICIPAL DE NOVA FLORESTA,NUCLEO DE APOIO A SAUDE DA FAMILIA NASF 2,RUA BENEDITO MARINHO,S/N,NaN,...,16/01/2018,FCES,1244.0,N,NaN,S,NaN,NaN,M,02/04/2014

In [24]:
sus_web = pd.read_csv('tbEstabelecimento201809.csv', sep=';', encoding='utf8', low_memory=False, usecols=[1,21, 22, 28, 31, 46])
sus_web.head()

,CO_CNES,CO_ATIVIDADE,CO_CLIENTELA,TP_UNIDADE,CO_MUNICIPIO_GESTOR,ST_CONEXAO_INTERNET
0,7453280,4,3.0,1,292870,N
1,7450184,4,1.0,74,230130,S
2,7462956,4,1.0,22,230730,S
3,7462476,4,1.0,2,231340,N
4,7416490,4,3.0,71,251010,S

In [25]:
sus_web.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364701 entries, 0 to 364700
Data columns (total 6 columns):
CO_CNES                364701 non-null int64
CO_ATIVIDADE           364701 non-null int64
CO_CLIENTELA           359296 non-null float64
TP_UNIDADE             364701 non-null int64
CO_MUNICIPIO_GESTOR    364701 non-null int64
ST_CONEXAO_INTERNET    296652 non-null object
dtypes: float64(1), int64(4), object(1)
memory usage: 16.7+ MB

In [20]:
sus_web['ST_CONEXAO_INTERNET'].value_counts()

S    241126
N     55526
Name: ST_CONEXAO_INTERNET, dtype: int64

In [39]:
sus_web['ST_CONEXAO_INTERNET'].count()

296652

In [40]:
55526 / 296652 *100

18.717554575731835

Do total de estabelecimentos de saÃºde 18,7% nÃ£o possuem conexÃ£o a internet e ficam de fora do programa de Telemedicina

In [26]:
sem_web = sus_web[sus_web['ST_CONEXAO_INTERNET'] == 'N']
sem_web.head()

,CO_CNES,CO_ATIVIDADE,CO_CLIENTELA,TP_UNIDADE,CO_MUNICIPIO_GESTOR,ST_CONEXAO_INTERNET
0,7453280,4,3.0,1,292870,N
3,7462476,4,1.0,2,231340,N
5,7462123,4,1.0,36,251593,N
6,7461569,4,3.0,74,260390,N
8,7454147,4,3.0,74,291970,N

In [27]:
sem_web.groupby('TP_UNIDADE') ['ST_CONEXAO_INTERNET']

In [28]:
sem_web.head()

,CO_CNES,CO_ATIVIDADE,CO_CLIENTELA,TP_UNIDADE,CO_MUNICIPIO_GESTOR,ST_CONEXAO_INTERNET
0,7453280,4,3.0,1,292870,N
3,7462476,4,1.0,2,231340,N
5,7462123,4,1.0,36,251593,N
6,7461569,4,3.0,74,260390,N
8,7454147,4,3.0,74,291970,N

In [32]:
sem_web.columns = ['cnes', 'atividade', 'clientela', 'tipo_unidade', 'code', 'internet']
sem_web.head()

      cnes  atividade  clientela  tipo_unidade    code internet
0  7453280          4        3.0             1  292870        N
3  7462476          4        1.0             2  231340        N
5  7462123          4        1.0            36  251593        N
6  7461569          4        3.0            74  260390        N
8  7454147          4        3.0            74  291970        N

In [29]:
brasil = pd.read_csv('brazil-population-1998-2017.csv', sep=';', encoding='utf8')
brasil.head()

,code,city,state,abbreviation,region,lat,long,year,population
0,110001,Alta Floresta D'Oeste,RondÃ´nia,RO,NORTE,-11.9283,-61.9953,2014,25652
1,110001,Alta Floresta D'Oeste,RondÃ´nia,RO,NORTE,-11.9283,-61.9953,2015,25578
2,110001,Alta Floresta D'Oeste,RondÃ´nia,RO,NORTE,-11.9283,-61.9953,2011,24228
3,110001,Alta Floresta D'Oeste,RondÃ´nia,RO,NORTE,-11.9283,-61.9953,2009,24354
4,110001,Alta Floresta D'Oeste,RondÃ´nia,RO,NORTE,-11.9283,-61.9953,2006,29005

In [30]:
brasil['year'].unique()

array([2014, 2015, 2011, 2009, 2006, 2016, 2005, 2003, 2001, 2007, 2000,
       1999, 2002, 1998, 2013, 2017, 2008, 2004, 2012, 2010], dtype=int64)

In [31]:
brasil17 = brasil[brasil['year'] == 2017]
brasil17.head()

,code,city,state,abbreviation,region,lat,long,year,population
15,110001,Alta Floresta D'Oeste,RondÃ´nia,RO,NORTE,-11.92830,-61.9953,2017,25437
36,110002,Ariquemes,RondÃ´nia,RO,NORTE,-9.90571,-63.0325,2017,107345
48,110003,Cabixi,RondÃ´nia,RO,NORTE,-13.49450,-60.5520,2017,6224
76,110004,Cacoal,RondÃ´nia,RO,NORTE,-11.43430,-61.4562,2017,88507
89,110005,Cerejeiras,RondÃ´nia,RO,NORTE,-13.18700,-60.8168,2017,17934

In [34]:
rede_web = pd.merge(sem_web, brasil17, on='code')
rede_web

,cnes,atividade,clientela,tipo_unidade,code,internet,city,state,abbreviation,region,lat,long,year,population
0,7453280,4,3.0,1,292870,N,Santo AntÃ´nio de Jesus,Bahia,BA,NORDESTE,-12.96140,-39.2584,2017,103342
1,7453337,4,1.0,1,292870,N,Santo AntÃ´nio de Jesus,Bahia,BA,NORDESTE,-12.96140,-39.2584,2017,103342
2,7453361,4,3.0,1,292870,N,Santo AntÃ´nio de Jesus,Bahia,BA,NORDESTE,-12.96140,-39.2584,2017,103342
3,7683774,4,3.0,2,292870,N,Santo AntÃ´nio de Jesus,Bahia,BA,NORDESTE,-12.96140,-39.2584,2017,103342
4,3558282,4,NaN,2,292870,N,Santo AntÃ´nio de Jesus,Bahia,BA,NORDESTE,-12.96140,-39.2584,2017,103342
5,7453272,4,3.0,1,292870,N,Santo AntÃ´nio de Jesus,Bahia,BA,NORDESTE,-12.96140,-39.2584,2017,103342
6,9103902,4,3.0,42,292870,N,Santo AntÃ´nio de Jesus,Bahia,BA,NORDESTE,-12.96140,-39.2584,2017,103342
7,2519682,4,2.0,2,292870,N,Santo AntÃ´nio de Jesus,Bahia,BA,NORDESTE,-12.96140,-39.2584,2017,103342
8,2514699,4,1.0,2,292870,N,Santo AntÃ´nio de Jesus,Bahia,BA,NORDESTE,-12.96140,-39.2584,2017,103342
9,2520109,4,1.0,2,292870,N,Santo AntÃ´nio de Jesus,Bahia,BA,NORDESTE,-12.96140,-39.2584,2017,103342
10,3750663,4,2.0,2,292870,N,Santo AntÃ´nio de Jesus,Bahia,BA,NORDESTE,-12.96140,-39.2584,2017,103342
11,3654613,4,1.0,2,292870,N,Santo AntÃ´nio de Jesus,Bahia,BA,NORDESTE,-12.96140,-39.2584,2017,103342
12,3043630,4,3.0,22,292870,N,Santo AntÃ´nio de Jesus,Bahia,BA,NORDESTE,-12.96140,-39.2584,2017,103342
13,3654605,4,1.0,2,292870,N,Santo AntÃ´nio de Jesus,Bahia,BA,NORDESTE,-12.96140,-39.2584,2017,103342
14,7510454,4,3.0,1,292870,N,Santo AntÃ´nio de Jesus,Bahia,BA,NORDESTE,-12.96140,-39.2584,2017,103342
15,7510462,4,3.0,1,292870,N,Santo AntÃ´nio de Jesus,Bahia,BA,NORDESTE,-12.96140,-39.2584,2017,103342
16,2519666,4,2.0,2,292870,N,Santo AntÃ´nio de Jesus,Bahia,BA,NORDESTE,-12.96140,-39.2584,2017,103342
17,2519631,4,2.0,2,292870,N,Santo AntÃ´nio de Jesus,Bahia,BA,NORDESTE,-12.96140,-39.2584,2017,103342
18,2520087,4,3.0,2,292870,N,Santo AntÃ´nio de Jesus,Bahia,BA,NORDESTE,-12.96140,-39.2584,2017,103342
19,6345832,4,3.0,39,292870,N,Santo AntÃ´nio de Jesus,Bahia,BA,NORDESTE,-12.96140,-39.2584,2017,103342
20,7406983,4,3.0,42,292870,N,Santo AntÃ´nio de Jesus,Bahia,BA,NORDESTE,-12.96140,-39.2584,2017,103342
21,5352363,4,1.0,40,292870,N,Santo AntÃ´nio de Jesus,Bahia,BA,NORDESTE,-12.96140,-39.2584,2017,103342
22,5388732,4,1.0,2,292870,N,Santo AntÃ´nio de Jesus,Bahia,BA,NORDESTE,-12.96140,-39.2584,2017,103342
23,7453299,4,3.0,1,292870,N,Santo AntÃ´nio de Jesus,Bahia,BA,NORDESTE,-12.96140,-39.2584,2017,103342
24,7453310,4,3.0,1,292870,N,Santo AntÃ´nio de Jesus,Bahia,BA,NORDESTE,-12.96140,-39.2584,2017,103342
25,7453329,4,1.0,1,292870,N,Santo AntÃ´nio de Jesus,Bahia,BA,NORDESTE,-12.96140,-39.2584,2017,103342
26,7453345,4,1.0,1,292870,N,Santo AntÃ´nio de Jesus,Bahia,BA,NORDESTE,-12.96140,-39.2584,2017,103342
27,7453353,4,1.0,1,292870,N,Santo AntÃ´nio de Jesus,Bahia,BA,NORDESTE,-12.96140,-39.2584,2017,103342
28,7464347,4,3.0,1,292870,N,Santo AntÃ´nio de Jesus,Bahia,BA,NORDESTE,-12.96140,-39.2584,2017,103342
29,3043673,4,1.0,2,292870,N,Santo AntÃ´nio de Jesus,Bahia,BA,NORDESTE,-12.96140,-39.2584,2017,103342
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55496,7981481,4,NaN,74,290265,N,BanzaÃª,Bahia,BA,NORDESTE,-10.57880,-38.6212,2017,13765
55497,7992688,4,1.0,74,171840,N,Presidente Kennedy,Tocantins,TO,NORTE,-8.54060,-48.5062,2017,3733
55498,7123507,4,NaN,22,351905,N,Holambra,SÃ£o Paulo,SP,SUDESTE,-22.64050,-47.0487,2017,14012
55499,7124163,4,3.0,2,420270,N,BotuverÃ¡,Santa Catarina,SC,SUL,-27.20070,-49.0689,2017,5100
55500,7195362,4,1.0,40,520753,N,Faina,GoiÃ¡s,GO,CENTRO OESTE,-15.44730,-50.3622,2017,6947
55501,7137621,4,1.0,40,522145,N,Trombas,GoiÃ¡s,GO,CENTRO OESTE,-13.50790,-48.7417,2017,3571
55502,7143613,4,1.0,42,410310,N,BocaiÃºva do Sul,ParanÃ¡,PR,SUL,-25.20660,-49.1141,2017,12477
55503,7136129,4,1.0,40,320405,N,Pedro CanÃ¡rio,EspÃ­rito Santo,ES,SUDESTE,-18.30040,-39.9574,2017,26537
55504,9293906,4,1.0,74,420005,N,Abdon Batista,Santa Catarina,SC,SUL,-27.61260,-51.0233,2017,2604
55505,9011579,4,3.0,39,314435,N,Naque,Minas Gerais,MG,SUDESTE,-19.22910,-42.3312,2017,6930
55506,7086423,4,NaN,2,314960,N,Pequi,Minas Gerais,MG,SUDESTE,-19.62840,-44.6604,2017,4395
55507,7875428,4,2.0,74,315270,N,Prados,Minas Gerais,MG,SUDESTE,-21.05970,-44.0778,2017,9021
55508,6996558,4,2.0,36,510788,N,Serra Nova Dourada,Mato Grosso,MT,CENTRO OESTE,-12.08960,-51.4025,2017,1575
55509,9275215,4,1.0,39,430955,N,Harmonia,Rio Grande do Sul,RS,SUL,-29.54560,-51.4185,2017,4664
55510,9214062,3,3.0,40,314655,N,Pai Pedro,Minas Gerais,MG,SUDESTE,-15.52710,-43.0700,2017,6184
55511,9037411,4,3.0,36,430222,N,Boa Vista do Cadeado,Rio Grande do Sul,RS,SUL,-28.57910,-53.8108,2017,2526
55512,9329749,4,1.0,72,130006,N,AmaturÃ¡,Amazonas,AM,NORTE,-3.37455,-68.2005,2017,11242
55513,7913311,4,1.0,39,312580,N,Fernandes Tourinho,Minas Gerais,MG,SUDESTE,-19.15410,-42.0803,2017,3369
55514,9297316,4,1.0,74,171670,N,ColmÃ©ia,Tocantins,TO,NORTE,-8.72463,-48.7638,2017,8409
55515,9291849,4,1.0,36,313535,N,Japonvar,Minas Gerais,MG,SUDESTE,-15.98910,-44.2758,2017,8683
55516,9334327,4,3.0,74,170310,N,BarrolÃ¢ndia,Tocantins,TO,NORTE,-9.83404,-48.7252,2017,5643
55517,9055002,4,1.0,2,171070,N,Itaguatins,Tocantins,TO,NORTE,-5.77267,-47.4864,2017,5980
55518,9010785,4,3.0,42,421080,N,Meleiro,Santa Catarina,SC,SUL,-28.82440,-49.6378,2017,7047
55519,9523286,4,1.0,74,172208,N,WanderlÃ¢ndia,Tocantins,TO,NORTE,-6.85274,-47.9601,2017,11677
55520,9278338,4,1.0,36,411040,N,IndianÃ³polis,ParanÃ¡,PR,SUL,-23.47620,-52.6989,2017,4504
55521,9236597,4,1.0,1,171245,N,LuzinÃ³polis,Tocantins,TO,NORTE,-6.17794,-47.8582,2017,3038
55522,9128034,4,3.0,74,431442,N,Picada CafÃ©,Rio Grande do Sul,RS,SUL,-29.44640,-51.1367,2017,5595
55523,9136533,4,3.0,74,431210,N,Mata,Rio Grande do Sul,RS,SUL,-29.56490,-54.4641,2017,5124
55524,9314709,4,1.0,22,352410,N,Ituverava,SÃ£o Paulo,SP,SUDESTE,-20.33550,-47.7902,2017,41414
55525,9384286,4,3.0,74,431267,N,Nicolau Vergueiro,Rio Grande do Sul,RS,SUL,-28.52980,-52.4676,2017,1752

In [35]:
rede_web.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55526 entries, 0 to 55525
Data columns (total 14 columns):
cnes            55526 non-null int64
atividade       55526 non-null int64
clientela       54832 non-null float64
tipo_unidade    55526 non-null int64
code            55526 non-null int64
internet        55526 non-null object
city            55526 non-null object
state           55526 non-null object
abbreviation    55526 non-null object
region          55526 non-null object
lat             55526 non-null float64
long            55526 non-null float64
year            55526 non-null int64
population      55526 non-null int64
dtypes: float64(3), int64(6), object(5)
memory usage: 6.4+ MB

In [37]:
rede_web.to_csv('sus_sem_web.csv', encoding='utf8')