Quantificando os profissionais de saúde que atuam nas PICs

Fonte.: CBO(CLASSIFICAÇÃO BRASILEIRA DE OCUPAÇÕES)
http://www.mtecbo.gov.br/cbosite/pages/pesquisas/BuscaPorEstrutura.jsf

Procura pelo códigos 2251-05 - Médico acupunturista |2251-54 - Médico antroposófico | 2251-95 - Médico homeopata
|2234-25 - Farmacêutico práticas integrativas e complementares.

In [1]:
import pandas as pd
import numpy as np

In [2]:
medicos = pd.read_csv('tbCargaHorariaSus201809.csv', sep=';', encoding='utf-8', low_memory=False)
medicos.head()

,CO_UNIDADE,CO_PROFISSIONAL_SUS,CO_CBO,TP_SUS_NAO_SUS,IND_VINCULACAO,TP_TERCEIRO_SIH,QT_CARGA_HORARIA_AMBULATORIAL,CO_CONSELHO_CLASSE,NU_REGISTRO,SG_UF_CRM,TP_PRECEPTOR,TP_RESIDENTE,NU_CNPJ_DETALHAMENTO_VINCULO,"TO_CHAR(A.DT_ATUALIZACAO,'DD/MM/YYYY')",CO_USUARIO,"TO_CHAR(A.DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')"
0,AP00000000000000099990010000004,1EFFD0E1186062EE,515105,S,10000,2,0.0,99.0,NaN,NaN,NaN,NaN,NaN,01/10/2001,eneida,NaN
1,AP00000000000000099990010000005,E93ACAD355032651,515105,S,10000,2,0.0,99.0,NaN,NaN,NaN,NaN,NaN,10/12/2001,eneida,NaN
2,AP00000000000000099990010000006,9D7D13462EBC2D66,1999A1,S,10000,2,40.0,99.0,NaN,NaN,NaN,NaN,NaN,31/10/2001,eneida,NaN
3,AP00000000000000099990010000006,DEF8D0C3756B2772,1999A1,S,10000,2,40.0,99.0,NaN,NaN,NaN,NaN,NaN,31/10/2001,eneida,NaN
4,BA00002914802000000000001538640,67A69EB2A0A7D21F,324210,S,10000,2,48.0,99.0,NaN,NaN,NaN,NaN,NaN,25/09/2001,carlinda,NaN

In [3]:
medicos.columns

Index(['CO_UNIDADE', 'CO_PROFISSIONAL_SUS', 'CO_CBO', 'TP_SUS_NAO_SUS',
       'IND_VINCULACAO', 'TP_TERCEIRO_SIH', 'QT_CARGA_HORARIA_AMBULATORIAL',
       'CO_CONSELHO_CLASSE', 'NU_REGISTRO', 'SG_UF_CRM', 'TP_PRECEPTOR',
       'TP_RESIDENTE', 'NU_CNPJ_DETALHAMENTO_VINCULO',
       'TO_CHAR(A.DT_ATUALIZACAO,'DD/MM/YYYY')', 'CO_USUARIO',
       'TO_CHAR(A.DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')'],
      dtype='object')

In [4]:
medicos['CO_CBO'].count()

3968494

In [5]:
medicos = pd.read_csv('tbCargaHorariaSus201809.csv', sep=';', encoding='utf-8', low_memory=False, usecols = [1, 2, 3, 9])
medicos.head()

  CO_PROFISSIONAL_SUS  CO_CBO TP_SUS_NAO_SUS SG_UF_CRM
0    1EFFD0E1186062EE  515105              S       NaN
1    E93ACAD355032651  515105              S       NaN
2    9D7D13462EBC2D66  1999A1              S       NaN
3    DEF8D0C3756B2772  1999A1              S       NaN
4    67A69EB2A0A7D21F  324210              S       NaN

In [6]:
medicos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3968494 entries, 0 to 3968493
Data columns (total 4 columns):
CO_PROFISSIONAL_SUS    object
CO_CBO                 object
TP_SUS_NAO_SUS         object
SG_UF_CRM              object
dtypes: object(4)
memory usage: 121.1+ MB

In [7]:
medicos['TP_SUS_NAO_SUS'].value_counts()

S    3067907
N     900586
s          1
Name: TP_SUS_NAO_SUS, dtype: int64

In [8]:
medicos['SG_UF_CRM'].unique()

array([nan, 'RO', 'SP', 'RS', 'PA', 'PR', 'MT', 'RJ', 'AC', 'RR', 'TO',
       'MG', 'DF', 'GO', 'RN', 'CE', 'ES', 'AM', 'PB', 'MS', 'SC', 'BA',
       'AP', 'MA', 'PE', 'SE', 'PI', 'AL', 'OA', 'PÁ', 'RB', '66', 'CF',
       'EJ', 'RQ', 'TJ', '75', 'sp', 'RA', '99'], dtype=object)

In [9]:
medicos['SG_UF_CRM'].value_counts().head()

SP    583274
MG    273577
RJ    187236
RS    155804
PR    131769
Name: SG_UF_CRM, dtype: int64

In [10]:
#procurando a quantidade de profissionais por CBO
medico_acup = medicos[medicos['CO_CBO'] == '225105']
medico_acup.head()

      CO_PROFISSIONAL_SUS  CO_CBO TP_SUS_NAO_SUS SG_UF_CRM
7333     C65C00B050B400C0  225105              N        RO
40060    F1D6D1244C078801  225105              S        AC
42694    F1D6D1244C078801  225105              N        AC
43466    A5027BF6DD76F4CB  225105              N        AC
77402    5E8EC1EBAD9DD6F9  225105              S        AM

In [19]:
medico_acup['CO_CBO'].count()

2058

In [22]:
medico_acup['SG_UF_CRM'].value_counts()

SP    876
MG    211
PR    156
SC    103
RJ     97
RS     93
ES     62
BA     61
GO     55
PE     47
CE     47
DF     44
MS     40
AL     28
MT     27
PA     25
RN     18
PB     18
MA     15
SE     14
TO      7
AM      4
AC      3
AP      2
PI      2
RO      1
RR      1
Name: SG_UF_CRM, dtype: int64

In [12]:
homeopata = medicos[medicos['CO_CBO'] == '225195']
homeopata.head()

      CO_PROFISSIONAL_SUS  CO_CBO TP_SUS_NAO_SUS SG_UF_CRM
38160    4763492B6A4F872D  225195              S        AC
40072    C0DD7E596A6DEDFC  225195              S        AC
42730    7685F785A9EF5E13  225195              N        MG
78742    385B52ED4E77A7C9  225195              N        AM
88324    A30579D7D4FF0E1D  225195              N        AM

In [23]:
homeopata['SG_UF_CRM'].value_counts()

SP    555
RJ    317
MG    196
PR    101
SC     64
RS     59
ES     50
BA     37
DF     31
GO     29
PB     26
MS     22
PE     19
AL     18
SE     16
CE     10
RN      9
MT      6
PA      4
AM      3
AC      2
MA      2
RR      1
Name: SG_UF_CRM, dtype: int64

In [14]:
farma = medicos[medicos['CO_CBO'] == '223425']
farma.head()

       CO_PROFISSIONAL_SUS  CO_CBO TP_SUS_NAO_SUS SG_UF_CRM
27205     3EC00C552CE5E3AF  223425              S       NaN
235302    2A4247FE7A2FA2B0  223425              S        AP
571113    58ECBAB84F460359  223425              S        RN
653053    BCB533D96DC900B0  223425              S        PB
653058    84988AB207ED9C8C  223425              S        PB

In [25]:
farma['CO_CBO'].count()

38

In [26]:
farma['SG_UF_CRM'].value_counts()

SC    7
MG    3
GO    3
RJ    2
PB    2
RN    1
SP    1
RS    1
AP    1
PR    1
Name: SG_UF_CRM, dtype: int64

In [16]:
antropo = medicos[medicos['CO_CBO'].str.contains('225154')].count()
antropo

CO_PROFISSIONAL_SUS    12
CO_CBO                 12
TP_SUS_NAO_SUS         12
SG_UF_CRM              12
dtype: int64

In [17]:
antropo = medicos[medicos['CO_CBO'] == '225154']
antropo.head()

        CO_PROFISSIONAL_SUS  CO_CBO TP_SUS_NAO_SUS SG_UF_CRM
1302163    5F2968FC15ACA865  225154              N        MG
1439741    843E1888718DCC97  225154              S        MG
1439754    1A9A4D57E5294042  225154              S        MG
1439755    2B3D1D32DF4EF94B  225154              S        MG
1448330    1A9A4D57E5294042  225154              N        MG

In [28]:
antropo['SG_UF_CRM'].value_counts()

MG    7
SP    4
RS    1
Name: SG_UF_CRM, dtype: int64