In [1]:
import pandas as pd
import numpy as np

In [3]:
# Dados do Brasil, estados, municípios, população referente dos últimos 20 anos. Os cálculos levam em conta natalidade, 
#mortalidade e migração populacional.


populacao = pd.read_csv('brazil-population-1998-2017.csv', sep=';', encoding='utf8')
populacao.head(10)

,code,city,state,abbreviation,region,lat,long,year,population
0,110001,Alta Floresta D'Oeste,Rondônia,RO,NORTE,-11.9283,-61.9953,2014,25652
1,110001,Alta Floresta D'Oeste,Rondônia,RO,NORTE,-11.9283,-61.9953,2015,25578
2,110001,Alta Floresta D'Oeste,Rondônia,RO,NORTE,-11.9283,-61.9953,2011,24228
3,110001,Alta Floresta D'Oeste,Rondônia,RO,NORTE,-11.9283,-61.9953,2009,24354
4,110001,Alta Floresta D'Oeste,Rondônia,RO,NORTE,-11.9283,-61.9953,2006,29005
5,110001,Alta Floresta D'Oeste,Rondônia,RO,NORTE,-11.9283,-61.9953,2016,25506
6,110001,Alta Floresta D'Oeste,Rondônia,RO,NORTE,-11.9283,-61.9953,2005,28629
7,110001,Alta Floresta D'Oeste,Rondônia,RO,NORTE,-11.9283,-61.9953,2003,27563
8,110001,Alta Floresta D'Oeste,Rondônia,RO,NORTE,-11.9283,-61.9953,2001,26919
9,110001,Alta Floresta D'Oeste,Rondônia,RO,NORTE,-11.9283,-61.9953,2007,23857

In [4]:
populacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111137 entries, 0 to 111136
Data columns (total 9 columns):
code            111137 non-null int64
city            111137 non-null object
state           111137 non-null object
abbreviation    111137 non-null object
region          111137 non-null object
lat             111137 non-null float64
long            111137 non-null float64
year            111137 non-null int64
population      111137 non-null int64
dtypes: float64(2), int64(3), object(4)
memory usage: 7.6+ MB

In [5]:
populacao['population'] = populacao['population'].fillna(0).astype(np.float64)

In [6]:
#populacao.info()

In [7]:
#qual municipio com mais habitantes

populacao[populacao['population'] == populacao['population'].max()]

,code,city,state,abbreviation,region,lat,long,year,population
76544,355030,São Paulo,São Paulo,SP,SUDESTE,-23.5329,-46.6395,2017,12106920.0

In [8]:
populacao[populacao['population'] == populacao['population'].min()]

,code,city,state,abbreviation,region,lat,long,year,population
7962,171550,Oliveira de Fátima,Tocantins,TO,NORTE,-10.707,-48.9086,2000,697.0

In [10]:
#listas os anos do dataframe
populacao['year'].unique()

array([2014, 2015, 2011, 2009, 2006, 2016, 2005, 2003, 2001, 2007, 2000,
       1999, 2002, 1998, 2013, 2017, 2008, 2004, 2012, 2010], dtype=int64)

In [11]:
#criar subconjuntos do dataframe original 
brasil = populacao[populacao['year'] == 2017]
brasil.head()

,code,city,state,abbreviation,region,lat,long,year,population
15,110001,Alta Floresta D'Oeste,Rondônia,RO,NORTE,-11.92830,-61.9953,2017,25437.0
36,110002,Ariquemes,Rondônia,RO,NORTE,-9.90571,-63.0325,2017,107345.0
48,110003,Cabixi,Rondônia,RO,NORTE,-13.49450,-60.5520,2017,6224.0
76,110004,Cacoal,Rondônia,RO,NORTE,-11.43430,-61.4562,2017,88507.0
89,110005,Cerejeiras,Rondônia,RO,NORTE,-13.18700,-60.8168,2017,17934.0

In [12]:
brasil['population'].sum()

207660929.0

In [13]:
rede_saude = pd.read_csv('tbEstabelecimento201809.csv', sep=';', low_memory=False, encoding='utf-8')
rede_saude.head(3)

,CO_UNIDADE,CO_CNES,NU_CNPJ_MANTENEDORA,TP_PFPJ,NIVEL_DEP,NO_RAZAO_SOCIAL,NO_FANTASIA,NO_LOGRADOURO,NU_ENDERECO,NO_COMPLEMENTO,...,"TO_CHAR(DT_ATU_GEO,'DD/MM/YYYY')",NO_USUARIO_GEO,CO_NATUREZA_JUR,TP_ESTAB_SEMPRE_ABERTO,ST_GERACREDITO_GERENTE_SGIF,ST_CONEXAO_INTERNET,CO_TIPO_UNIDADE,NO_FANTASIA_ABREV,TP_GESTAO,"TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')"
0,2928707453280,7453280,1.382548e+13,3,3,PREFEITURA MUNICIPAL DE SANTO ANTONIO DE JESUS,POSTO DE SAUDE MINA DO SAPE,COMUNIDADE MINA DO SAPE,S/N,CASA,...,NaN,NaN,1244.0,NaN,NaN,N,NaN,NaN,M,03/04/2014
1,2301307450184,7450184,7.539984e+12,3,3,PREFEITURA MUNICIPAL DE SAUDE,ACADEMIA DA SAUDE DE ARARIPE,AV ELISIO ALVES DE ALENCAR,S/N,NaN,...,04/09/2018,0130ARA,1244.0,N,NaN,S,NaN,NaN,M,02/04/2014
2,2307307462956,7462956,NaN,1,1,CONSULTORIO DE PSICOLOGIA FLAVIA GONCALVES MACEDO,CONSULTORIO DE PSICOLOGIA FLAVIA GONCALVES MACEDO,RUA DA CONCEICAO,818,NaN,...,27/12/2017,GORETTI,4000.0,N,NaN,S,NaN,NaN,M,02/04/2014

In [14]:
rede_saude.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364701 entries, 0 to 364700
Data columns (total 51 columns):
CO_UNIDADE                                     364701 non-null object
CO_CNES                                        364701 non-null int64
NU_CNPJ_MANTENEDORA                            94451 non-null float64
TP_PFPJ                                        364701 non-null int64
NIVEL_DEP                                      364701 non-null int64
NO_RAZAO_SOCIAL                                364700 non-null object
NO_FANTASIA                                    364692 non-null object
NO_LOGRADOURO                                  364700 non-null object
NU_ENDERECO                                    364415 non-null object
NO_COMPLEMENTO                                 156615 non-null object
NO_BAIRRO                                      364698 non-null object
CO_CEP                                         364701 non-null int64
CO_REGIAO_SAUDE                                192424 non-null object
CO_MICRO_REGIAO                                14175 non-null object
CO_DISTRITO_SANITARIO                          26335 non-null object
CO_DISTRITO_ADMINISTRATIVO                     4078 non-null object
NU_TELEFONE                                    286873 non-null object
NU_FAX                                         80339 non-null object
NO_EMAIL                                       160197 non-null object
NU_CPF                                         128106 non-null float64
NU_CNPJ                                        145000 non-null float64
CO_ATIVIDADE                                   364701 non-null int64
CO_CLIENTELA                                   359296 non-null float64
NU_ALVARA                                      248083 non-null object
DT_EXPEDICAO                                   246623 non-null object
TP_ORGAO_EXPEDIDOR                             252274 non-null float64
DT_VAL_LIC_SANI                                74602 non-null object
TP_LIC_SANI                                    74858 non-null float64
TP_UNIDADE                                     364701 non-null int64
CO_TURNO_ATENDIMENTO                           364006 non-null float64
CO_ESTADO_GESTOR                               364701 non-null int64
CO_MUNICIPIO_GESTOR                            364701 non-null int64
TO_CHAR(DT_ATUALIZACAO,'DD/MM/YYYY')           364701 non-null object
CO_USUARIO                                     364701 non-null object
CO_CPFDIRETORCLN                               207549 non-null float64
REG_DIRETORCLN                                 134018 non-null object
ST_ADESAO_FILANTROP                            2477 non-null object
CO_MOTIVO_DESAB                                37659 non-null float64
NO_URL                                         3295 non-null object
NU_LATITUDE                                    85916 non-null float64
NU_LONGITUDE                                   86171 non-null object
TO_CHAR(DT_ATU_GEO,'DD/MM/YYYY')               85250 non-null object
NO_USUARIO_GEO                                 85079 non-null object
CO_NATUREZA_JUR                                364698 non-null float64
TP_ESTAB_SEMPRE_ABERTO                         198787 non-null object
ST_GERACREDITO_GERENTE_SGIF                    13 non-null object
ST_CONEXAO_INTERNET                            296652 non-null object
CO_TIPO_UNIDADE                                0 non-null float64
NO_FANTASIA_ABREV                              0 non-null float64
TP_GESTAO                                      364701 non-null object
TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')    364701 non-null object
dtypes: float64(13), int64(8), object(30)
memory usage: 141.9+ MB

In [15]:
rede_saude = pd.read_csv('tbEstabelecimento201809.csv', sep=';', encoding='utf8', low_memory=False, usecols=[0, 1, 28, 31, 49])
rede_saude.head()

      CO_UNIDADE  CO_CNES  TP_UNIDADE  CO_MUNICIPIO_GESTOR TP_GESTAO
0  2928707453280  7453280           1               292870         M
1  2301307450184  7450184          74               230130         M
2  2307307462956  7462956          22               230730         M
3  2313407462476  7462476           2               231340         M
4  2510107416490  7416490          71               251010         M

In [16]:
rede_saude.columns = ['cod_unidades', 'cod_cnes', 'tipo_unidade', 'code','cod_gestao']
rede_saude.head()

    cod_unidades  cod_cnes  tipo_unidade    code cod_gestao
0  2928707453280   7453280             1  292870          M
1  2301307450184   7450184            74  230130          M
2  2307307462956   7462956            22  230730          M
3  2313407462476   7462476             2  231340          M
4  2510107416490   7416490            71  251010          M

In [17]:
rede_saude['cod_cnes'].count()

364701

In [18]:
rede_saude['tipo_unidade'].value_counts()

22    180265
36     55028
2      39253
39     27822
1      11328
4       8770
68      6145
5       5795
42      4769
43      3573
70      3100
50      3048
74      2635
40      1497
81      1304
73      1284
7       1245
71      1200
72      1148
77       750
62       731
15       703
60       695
20       448
80       447
69       409
83       373
76       238
82       139
64       139
21       127
75        89
32        63
78        39
67        38
61        33
79        31
Name: tipo_unidade, dtype: int64

In [71]:
rede_saude['code'].count()

364701

In [72]:
rede_saude['cod_gestao'].value_counts()

M    341436
E     17059
D      6106
S       100
Name: cod_gestao, dtype: int64

In [19]:
rede_saude.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364701 entries, 0 to 364700
Data columns (total 5 columns):
cod_unidades    364701 non-null object
cod_cnes        364701 non-null int64
tipo_unidade    364701 non-null int64
code            364701 non-null int64
cod_gestao      364701 non-null object
dtypes: int64(3), object(2)
memory usage: 13.9+ MB

In [20]:
tipo_unidade = pd.read_csv('cod_atividade.csv', sep=',', encoding='Latin-1')
tipo_unidade.head(5)

   cod_unidades                       descricao  total
0             1                  POSTO DE SAUDE  11328
1             2  CENTRO DE SAUDE/UNIDADE BASICA  39253
2             4                     POLICLINICA   8770
3             5                  HOSPITAL GERAL   5795
4             7          HOSPITAL ESPECIALIZADO   1245

In [21]:
tipo_unidade.columns = ['tipo_unidade', 'descricao', 'total']

In [22]:
tipo_unidade.head(3)

   tipo_unidade                       descricao  total
0             1                  POSTO DE SAUDE  11328
1             2  CENTRO DE SAUDE/UNIDADE BASICA  39253
2             4                     POLICLINICA   8770

In [17]:
tipo_unidade['total'].sum()

365558

In [77]:
tipo_unidade['descricao'].unique()

array(['POSTO DE SAUDE', 'CENTRO DE SAUDE/UNIDADE BASICA', 'POLICLINICA',
       'HOSPITAL GERAL', 'HOSPITAL ESPECIALIZADO', 'UNIDADE MISTA',
       'PRONTO SOCORRO GERAL', 'PRONTO SOCORRO ESPECIALIZADO',
       'CONSULTORIO ISOLADO', 'UNIDADE MOVEL FLUVIAL',
       'CLINICA/CENTRO DE ESPECIALIDADE',
       'UNIDADE DE APOIO DIAGNOSE E TERAPIA (SADT ISOLADO)',
       'UNIDADE MOVEL TERRESTRE',
       'UNIDADE MOVEL DE NIVEL PRE-HOSPITALAR NA AREA DE URGENCIA',
       'FARMACIA', 'UNIDADE DE VIGILANCIA EM SAUDE',
       'COOPERATIVA OU EMPRESA DE CESSAO DE TRABALHADORES NA SAUDE',
       'CENTRO DE PARTO NORMAL \x96 ISOLADO', 'HOSPITAL/DIA \x96 ISOLADO',
       'LABORATORIO CENTRAL DE SAUDE PUBLICA LACEN ',
       'CENTRAL DE GESTAO EM SAUDE',
       'CENTRO DE ATENCAO HEMOTERAPIA E OU HEMATOLOGICA',
       'CENTRO DE ATENCAO PSICOSSOCIAL',
       'CENTRO DE APOIO A SAUDE DA FAMILIA',
       'UNIDADE DE ATENCAO A SAUDE INDIGENA', 'PRONTO ATENDIMENTO',
       'POLO ACADEMIA DA SAUDE', 'TELESSAUDE',
       'CENTRAL DE REGULACAO MEDICA DAS URGENCIAS',
       'SERVICO DE ATENCAO DOMICILIAR ISOLADO(HOME CARE)',
       'UNIDADE DE ATENCAO EM REGIME RESIDENCIAL', 'OFICINA ORTOPEDICA',
       'LABORATORIO DE SAUDE PUBLICA', 'CENTRAL DE REGULACAO DO ACESSO',
       'CENTRAL DE NOTIFICACAO,CAPTACAO E DISTRIB DE ORGAOS ESTADUAL',
       'POLO DE PREVENCAO DE DOENCAS E AGRAVOS E PROMOCAO DA SAUDE'],
      dtype=object)

In [26]:
posto = 11328

In [27]:
ubs = 39253

In [28]:
consultorio = 180265

In [29]:
posto + ubs + consultorio

230846

In [30]:
#calculando a atenção básica no total da rede_atendimento = 364701

(230846/364701)*100

# A rede de atenção básica corresponde a 63% do total da rede de assistência a saúde.

63.29733123846658

In [31]:
rede_tipo = pd.merge(rede_saude, tipo_unidade, on='tipo_unidade')
rede_tipo.head()

,cod_unidades,cod_cnes,tipo_unidade,code,cod_gestao,descricao,total
0,2928707453280,7453280,1,292870,M,POSTO DE SAUDE,11328
1,2202707466803,7466803,1,220270,M,POSTO DE SAUDE,11328
2,3106207467591,7467591,1,310620,M,POSTO DE SAUDE,11328
3,3161107465823,7465823,1,316110,M,POSTO DE SAUDE,11328
4,3504907462484,7462484,1,350490,M,POSTO DE SAUDE,11328

In [34]:
rede_brasil = pd.merge(rede_tipo, brasil, on='code')
rede_brasil.head()

,cod_unidades,cod_cnes,tipo_unidade,code,cod_gestao,descricao,total,city,state,abbreviation,region,lat,long,year,population
0,2928707453280,7453280,1,292870,M,POSTO DE SAUDE,11328,Santo Antônio de Jesus,Bahia,BA,NORDESTE,-12.9614,-39.2584,2017,103342.0
1,2928707453337,7453337,1,292870,M,POSTO DE SAUDE,11328,Santo Antônio de Jesus,Bahia,BA,NORDESTE,-12.9614,-39.2584,2017,103342.0
2,2928707453361,7453361,1,292870,M,POSTO DE SAUDE,11328,Santo Antônio de Jesus,Bahia,BA,NORDESTE,-12.9614,-39.2584,2017,103342.0
3,2928707453272,7453272,1,292870,M,POSTO DE SAUDE,11328,Santo Antônio de Jesus,Bahia,BA,NORDESTE,-12.9614,-39.2584,2017,103342.0
4,2928707510454,7510454,1,292870,M,POSTO DE SAUDE,11328,Santo Antônio de Jesus,Bahia,BA,NORDESTE,-12.9614,-39.2584,2017,103342.0

In [87]:
rede_tipo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 364562 entries, 0 to 364561
Data columns (total 7 columns):
cod_unidades    364562 non-null object
cod_cnes        364562 non-null int64
tipo_unidade    364562 non-null int64
code            364562 non-null int64
cod_gestao      364562 non-null object
descricao       364562 non-null object
total           364562 non-null int64
dtypes: int64(4), object(3)
memory usage: 22.3+ MB

In [35]:
rede_brasil.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 364198 entries, 0 to 364197
Data columns (total 15 columns):
cod_unidades    364198 non-null object
cod_cnes        364198 non-null int64
tipo_unidade    364198 non-null int64
code            364198 non-null int64
cod_gestao      364198 non-null object
descricao       364198 non-null object
total           364198 non-null int64
city            364198 non-null object
state           364198 non-null object
abbreviation    364198 non-null object
region          364198 non-null object
lat             364198 non-null float64
long            364198 non-null float64
year            364198 non-null int64
population      364198 non-null float64
dtypes: float64(3), int64(5), object(7)
memory usage: 44.5+ MB

In [42]:
#rede_brasil.groupby('state')['cod_cnes'].count()

In [50]:
rede_brasil['state'].value_counts()

São Paulo              88012
Minas Gerais           45486
Rio de Janeiro         27957
Rio Grande do Sul      27739
Paraná                 27281
Bahia                  19060
Santa Catarina         18673
Ceará                  12659
Goiás                  10869
Pernambuco             10473
Espírito Santo          8133
Pará                    7795
Mato Grosso             6826
Paraíba                 6758
Distrito Federal        6708
Maranhão                6105
Mato Grosso do Sul      5526
Rio Grande do Norte     4975
Piauí                   4375
Sergipe                 3925
Alagoas                 3759
Rondônia                3445
Amazonas                2814
Tocantins               2106
Acre                    1055
Roraima                  976
Amapá                    708
Name: state, dtype: int64

In [45]:
rede_state = rede_brasil['state'].value_counts()

In [51]:
rede_state.to_csv

<bound method Series.to_csv of São Paulo              88012
Minas Gerais           45486
Rio de Janeiro         27957
Rio Grande do Sul      27739
Paraná                 27281
Bahia                  19060
Santa Catarina         18673
Ceará                  12659
Goiás                  10869
Pernambuco             10473
Espírito Santo          8133
Pará                    7795
Mato Grosso             6826
Paraíba                 6758
Distrito Federal        6708
Maranhão                6105
Mato Grosso do Sul      5526
Rio Grande do Norte     4975
Piauí                   4375
Sergipe                 3925
Alagoas                 3759
Rondônia                3445
Amazonas                2814
Tocantins               2106
Acre                    1055
Roraima                  976
Amapá                    708
Name: state, dtype: int64>